<style>
    * {
        margin: 0;
    }

    body {
        background-color: #FFF3E0;
    }

    #wrap {
        width: 1200px;
        margin: 0 auto;
        /* 블록 구조를 가운데 정렬하는 방법 */
        display: flex;
        flex-wrap: wrap;
        /* float의 버그 때문에 생긴 방식 */
    }

    #header {
        width: 100%;
        /* 부모값을 기준으로 비율을 정함 */
        height: 100px;
        background-color: #FFE0B2;
    }

    #nav {
        width: 100%;
        height: 100px;
        background-color: #FFCC80;
    }

    #aside {
        width: 30%;
        height: 780px;
        background-color: #FFB74D;
    }

    #section {
        width: 70%;
        height: 780px;
        background-color: #FFA726;
    }

    #footer {
        width: 100%;
        height: 100px;
        background-color: #FF9800;
    }