@import url("https://webfontworld.github.io/sandbox/SBAggro.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SBAggro";
    cursor: none !important;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/* scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(9, 77, 159, 0.4);
}
::-webkit-scrollbar-thumb {
    background: #094d9f;
    border-radius: 20px;
}

#header {
    position: fixed;
    width: 100%;
    height: 35px;
    background-color: #094d9f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#header h1 {
    font-size: 20px;
    color: #fff;
    padding: 5px 0;
}
#header .Nowtime {
    color: #fff;
    transform: translateY(1px);
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
}

.icon_box img {
    width: 100%;
}
.icon_box span {
    text-align: center;
    display: block;
    background: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space: nowrap;
}

.icon1 {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 60px;
}
.icon2 {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 60px;
}
.icon3 {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 60px;
}
.icon4 {
    position: absolute;
    left: 100px;
    top: 400px;
    width: 60px;
}
.icon5 {
    position: absolute;
    left: 100px;
    top: 500px;
    width: 60px;
}
.icon6 {
    position: absolute;
    left: 100px;
    top: 600px;
    width: 60px;
}

/* 커서 */
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 10001;
    pointer-events: none;
    user-select: none;
}
.cursor img {
    width: 15px;
}

/* window */
.mac #footer {
    background: #09989f;
}
.window #footer {
    background: #094d9f;
}

/* modal__wrap */
.modal__btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    bottom: 40px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.modal__btn:hover {
    background-color: #fff;
    color: #3b3d63;
}
.modal__btn label:hover {
    cursor: pointer;
}
.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.modal__box {
    width: 70%;
    height: 80vh;
    border-radius: 0.6rem;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    transform: scale(0);
}
.modal__box .title {
    padding-inline: 1rem;
    background-color: #1b1c2e;
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: #3b3d63;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 2rem;
}
.modal__box .title .dot::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #3b3d63;
    border-radius: 50%;
}
.modal__box .title .dot::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #3b3d63;
    border-radius: 50%;
}
.modal__box .title .plus {
    background: #282936;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    color: #7a7d9d;
}
.modal__box .title .tabs {
    display: flex;
    margin-left: 50px;
}
.modal__box .title .tabs > div {
    color: #7a7d9d;
    background-color: #282936;
    padding: 0.35rem 0.8rem 0.25rem 0.8rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}
.modal__box .title .tabs > div.active {
    background-color: #1f224a;
}
.modal__box .title .tabs > div em {
    font-style: normal;
}
.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
    margin-left: 4rem;
}
.modal__box .cont {
    background-color: #282936;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.modal__box .cont > div {
    display: none;
    height: 100%;
}
.modal__box .cont > div.active {
    display: block;
    height: 100%;
}
.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #1f224a;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 7px -5px rgba(25, 26, 26, 0.698);
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}
.modal__close:hover {
    background-color: #33377d;
}
.modal__close svg {
    color: #fff;
}

/* 모달 애니메이션 */
.modal__cont.show {
    /* 전체 배경 */
    animation: foldOut 1s ease forwards;
}
.modal__cont.show .modal__box {
    /* 스크립트 박스 */
    animation: zoomOut 0.5s 1s ease forwards;
}
.modal__cont.show .modal__close {
    /* 닫기 버튼 */
    animation: opacityOut 0.5s 1.5s ease forwards;
}

.modal__cont.show.hide {
    animation: foldIn 0.3s 0.5s ease backwards;
}
.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.5s ease forwards;
}
.modal__cont.show.hide .modal__close {
    animation: opacityIn 0.8s ease forwards;
}

@keyframes foldOut {
    0% {
        transform: scaleX(0) scaleY(0.001);
    }
    50% {
        transform: scaleX(1) scaleY(0.001);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes foldIn {
    0% {
        transform: scaleX(1) scaleY(1);
    }
    50% {
        transform: scaleX(1) scaleY(0.001);
    }
    100% {
        transform: scaleX(0) scaleY(0.001);
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes opacityOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacityIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 1100px) {
    .modal__box .title {
        overflow: hidden;
    }
    .modal__box .title .dot {
        display: none;
    }
    .modal__box .title .tabs {
        margin-left: 0;
    }
    .modal__box .title .tabs > div .close {
        display: none;
    }
}
@media (max-width: 800px) {
    #header {
        width: 100%;
        text-align: center;
    }
    #header h1 {
        line-height: 1.4;
    }
    .modal__box {
        width: 96%;
    }
}
