.tetris__wrap {
    /* position: relative; */
    box-sizing: border-box;
    width: 845px;
}

.tetris__inner {
    display: none;
    position: absolute;
    left: 50%;
    top: 10%;
    background: rgba(5,5,5,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 20px;
    padding: 20px;
}
.tetris__inner.show {
    display: block;
}
  
.tetris__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
  
.tetris__start,
.tetris__exit {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    transition: all 300ms;
    position: relative;
}
  
.tetris__exit {
    margin-left: 20px;
}
  
.tetris__start:hover,
.tetris__exit:hover {
    color: #fff;
    background-color: #000;
}
  
.playground {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
}
.playground > p {
    color: #fff;
}
  
.playground > ul {
    border: 2px solid rgb(255, 255, 255, 0.6);
    box-sizing: border-box;
    background: no-repeat center url(../img/apple_Img00.jpg);
}


.playground > ul > li {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* height: 30px; */
}
  
.playground > ul > li > ul {
    display: flex;
    box-sizing: border-box;
}
  
.playground > ul > li > ul > li {
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(154, 154, 154, 0.6);
    box-sizing: border-box;
}
  
.tetris__msg {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    display: none;
}

.tetris__msg.show {
    display: flex;
}
.tetris__score {
    margin: 10px 0;
}
  
.Tmino {
    border: #a042a2 0.5em outset !important;
    background-color: #952d98;
    box-sizing: border-box !important;
}

.Lmino {
    border: #ff861a 0.5em outset !important;
    background-color: #ff7900;
    box-sizing: border-box !important;
}

.Jmino {
    border: #1a74c4 0.5em outset !important;
    background-color: #0065bd;
    box-sizing: border-box !important;
}
  
.Zmino {
    border: #ef3e4d 0.5em outset !important;
    background-color: #ed2939;
    box-sizing: border-box !important;
}
  
.Smino {
    border: #78c53e 0.5em outset !important;
    background-color: #69be28;
    box-sizing: border-box !important;
}
  
.Omino {
    border: #fed01a 0.5em outset !important;
    background-color: #fecb00;
    box-sizing: border-box !important;
}
  
.Imino {
    border: #1aa9de 0.5em outset !important;
    background-color: #009fda;
    box-sizing: border-box !important;
}
