#sliderType {
}

.slider__inner {
    display: flex;
}
.image {
    /* overflow: hidden; */
}
.s_image {
    display: flex;
    position: relative;
}
.s_image .img {
    width: 2000px;
}
.box {
    position: absolute;
    left: 200px;
    bottom: 15%;
    width: 420px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    padding: 30px;
}
.box h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.box p {
    font-size: 20px;
}
.button_l {
    background: url(../jpg4/buttonLeft.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 1%;
    top: 50%;
    width: 60px;
    height: 106px;
    cursor: pointer;
}
.next {
    background: url(../jpg4/buttonRight.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    width: 60px;
    height: 106px;
    cursor: pointer;
}
